body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

.container {
  padding: 20px;
}

header,
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
